body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5rem;
}

.button {
    background-color: aquamarine;
    border-radius: 10%;
}

.image-box {
    text-align: center;
}

.image-box img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
